.screen{
  .main__title{
    text-transform: uppercase;
  }
  .main__content{
    text-transform: capitalize;
  }
  .actions{
    .actions__quantity{
      
    }
    .actions__level{
      text-transform: capitalize;
    }
  }
}